.feature-content {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 90px);
}

.feature-content p {
  font-size: 42px;
  font-weight: bold;
}
